<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbuzzart.demo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".BuzzApplication"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.RestApiService" android:process=":restApiService" />

        <!-- android:label="@string/activity_label_default" -->
        <activity
            android:name=".ui.CuratorPicksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection|locale"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CuratorDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection|locale"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:label="@string/activity_label_detail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>